/*********************
 *
 * MENU
 *
 ********************/
.extra-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 300px;
	max-width: 100%;
	height: 100%;
}
/*********************
 *
 * BUTTON
 *
 ********************/
.extra-menu-button {
	background: transparent;
	cursor: pointer;
	opacity: 0;
	position: fixed;
	top: 35px;
	left: 50px;
	z-index: 100;
	width: 30px;
	height: 30px;
}
.extra-menu-open .extra-menu-button,
.extra-menu-close .extra-menu-button {
	opacity: 1;
}
.extra-menu-button-inner,
.extra-menu-button-inner:before,
.extra-menu-button-inner:after {
	background: black;
	border: 0;
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 5px;
	left: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.extra-menu-button-inner:before,
.extra-menu-button-inner:after {
	content: "";
	position: absolute;
}
.extra-menu-button-inner:before {
	top: 4px;
}
.extra-menu-button-inner:after {
	top: 22px;
}
/* MENU CLOSE */
.extra-menu-close .extra-menu-button:hover .extra-menu-button-inner {
	margin-left: 5px;
}
/* MENU OPEN */
.extra-menu-open .extra-menu-button-inner {
	width: 0;
	background: transparent;
	margin-left: 30px;
}
.extra-menu-open .extra-menu-button-inner:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 9px;
}
.extra-menu-open .extra-menu-button-inner:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -9px;
}